@page
@model Lekcja0201.Pages.Patterns.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pattern1[0].A)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pattern1[0].B)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pattern1[0].ResultPart1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pattern1[0].ResultPart2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pattern1[0].ResultPart3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pattern1) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.A)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.B)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultPart1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultPart2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultPart3)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
